body{
    max-width:1200px;
    margin:0 auto;
}

.box {
    height: 50px;
    margin: 25px;
}

/*NAV SECTION*/

nav {
    display: flex;
    background-color: rgb(45, 64, 89);
    border-width: 20px 20px 5px 20px;
    border-style: solid;
    border-color: black;
}

.box.box-nav {
    background-color: rgb(234, 84, 85);
    width: 16.6%;
}

.box-nav:nth-child(2) {
    width: 66.66%;
}

/*HEADER SECTION*/

header {
    background-color: rgb(221, 113, 58);
    border-width: 5px 20px 20px 20px;
    border-style: solid;
    border-color: black;
}

.box.box-header {
    background-color: rgb(254, 212, 96);
}

/*MAIN SECTION*/

main {
    margin-top: 2rem;
    display: flex;
}

/*ARTICLE SECTION*/

.article {
    display: flex;
    background-color: rgb(78, 78, 106);
}

.box.box-article {
    background-color: rgb(31, 108, 176);
    width: 50%;
}

.box.box-article.last-article {
    width: 100%;
    background-color: rgb(112, 163, 196);
}

.article-section {
    width: 75%;
    border-left: 20px solid black;
    border-right: 10px solid black;
    border-bottom: 20px solid black;
    border-top: 20px solid black;
}


/*ASIDE SECTION*/

.aside-section {
    background-color: rgb(247, 63, 82);
    border-left: 10px solid black;
    border-right: 20px solid black;
    border-bottom: 20px solid black;
    border-top: 20px solid black;
    width: 25%
}

.box.box-aside {
    background-color: rgb(254, 234, 133);
}

/*FOOTER*/

footer {
    border: solid black 20px;
    margin-top: 2rem;
}

.box.box-footer {
    background-color: rgb(230, 175, 46);
    margin: 0px;
}

/*MEDIA QUERY TABLET*/

@media (max-width: 600px) {

    /*MAIN*/
    main {
        display: block;
    }

    /*HEADER*/

    header {
        background-color: rgb(240, 123, 63);
    }


    /*ARTICLE SECTION*/
    .article-section {
        width: auto;
    }

    .article-section {
        border-width: 20px 20px 10px 20px;
        border-style: solid;
        border-color: rgb(254, 255, 3);
    }

    /*ASIDE SECTION*/
    .aside-section {
        border-width: 10px 20px 20px 20px;
        border-style: solid;
        border-color: rgb(254, 255, 3);
        width: auto;
    }

}

/*MEDIA QUERIES CELLPHONE*/

@media (max-width:480px) {

    nav {
        display: block;
        border-width: 30px 30px 15px 30px;
        border-style: solid;
        border-color: black;
    }

    header {
        border-width: 15px 30px 30px 30px;
        border-style: solid;
        border-color: black;
    }

    .box.box-nav {
        width: auto;
    }

    .article {
        display: block;
        background-color: rgb(9, 80, 111);
    }

    .box.box-article {
        width: auto;
        background-color: rgb(98, 149, 156);
    }

    .box.box-article.last-article {
        width: auto;
        background-color: rgb(163, 221, 203);
    }

    .article-section {
        border-width: 30px 30px 15px 30px;
        border-style: solid;
        border-color: rgb(254, 226, 40);
        background-color: rgb(9, 80, 111);
    }

    .aside-section {

        border-width: 15px 30px 30px 30px;
        border-style: solid;
        border-color: rgb(254, 226, 40);
        background-color: rgb(253, 123, 84);
    }

    .box.box-aside {
        background-color: rgb(253, 179, 107);
    }

    footer {
        border-width: 30px;
    }

    .box.box-footer {
        background-color: rgb(253, 199, 100);
    }
}